*{
  box-sizing: border-box;
  margin: auto;
}
body{
    background-color: #fdb674;
}
.margin{
  text-align: center;
  padding: 30px;
}
.nomodal{
  display: none;
}
.left{
  text-align: left;
}
.modal {
    z-index: 1; 
    padding-top: 250px; 
    position: fixed; 
    background-color: rgb(0,0,0,0.7); 
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  
  .modal-content {
    background-color: rgb(213, 214, 214);
    padding: 20px;
    border: 3px solid rgb(63, 63, 63);
    border-radius: 15px;
    width: 500px;
    font-weight: bold;
  }
  
  .close {
    color: grey;
    float: right;
    font-size: 28px;
  }
  
  .close:hover {
    color: black;
    cursor: pointer;
  }
  .modal-content input{
      margin: 13px 10px;
      padding: 12px;
      width: 350px;
      border: 1px solid #575757;
      border-radius: 10px;
      outline: none;
  }
  .add-btn{
    padding: 15px;
    background-color: #20394e;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    width: 200px;
    cursor: pointer;
}
.title{
  font-size: 28px;
}
